{% import "macro.html" as macro %}
{% extends "index.html" %} 

{% block content %}

<div class="docs-content-container">
  <nav class="docs-sidebar">
    <div id="subnav">
      <a href="/search">&#8981;</a>
    </div>
    
    {% block nav %}
    <ul id="breadcrumbs">
      {% for parent in section.ancestors %}
      {% if parent != "_index.md" %}
      {% set s = get_section(path=parent, include_pages=false) %}
      <li>
        <a href="{{s.permalink}}">{{s.title}}</a>&nbsp;&#8594;&nbsp;
      </li>
      {% endif %}
      {% endfor %}
      <li>{{ section.title }}</li>
    </ul>
    <!-- <h1 class="sidebar-title"># {{ config.title }}</h1> -->
    <hr style="width: 100%; color: #979797;"/>
    {{ macro::tree(currentsection = section.title, currentpage = "") }} 
    {% endblock nav %}
  </nav>
  
  <div class="docs-article">
      {% block documentation %}
      {{ section.content | safe }}
      {% endblock documentation %}
  </div>
</div>
{% endblock content %}
