<div class="footer-parent blockGreyFoot">
    <div class="footerBlock">
        <div>
            <h3 class="ftbTr_" id="fBTrig_-0">Software</h3>
            <ul class="ftb_" id="fBT_-0">
                <li>
                    WIP
                </li>
            </ul>
        </div>
        <div>
            <h3 class="ftbTr_" id="fBTrig_-1">Resources</h3>
            <ul class="ftb_" id="fBT_-1">
                <li class="nullTrans">
                    <a class="nullTrans" alt="github" href="https://github.com/bitcoindevkit/">Github</a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="ftbTr_" id="fBTrig_-3">Community</h3>
            <ul class="ftb_" id="fBT_-3">
                <li>
                    <a alt="blog" href="/blog">Blog</a>
                </li>
                <a>
                    <a alt="twitter" href="https://twitter.com/bitcoindevkit">Twitter</a>
                </li>
            </ul>
        </div>


        <p class="copyright_">
            <br>
            Content Released under MIT license.
            <br>
            This website does not use cookies nor collect personal data.
        </p>
    </div>

</div>
