<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1">
    
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    
    <!-- Primary Meta Tags -->
    <title>Bitcoin Dev Kit</title>
    <meta name="title" content="Bitcoin Dev Kit">
    <meta name="description" content="A secure and easy to use mobile cross platform (iOS/Android) Bitcoin wallet dev kit and example apps.">
    <meta name="keywords" content="bitcoindevkit">
    <meta name="author" content="Notmandatory | notmandatory.org">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bitcoindevkit.org/">
    <meta property="og:title" content="Bitcoin Dev Kit">
    <meta property="og:description" content="A secure and easy to use mobile cross platform (iOS/Android) Bitcoin wallet dev kit and example apps.">
    <meta property="og:image" content="https://bitcoindevkit.org/img/bdk-logo-meta.svg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://bitcoindevkit.org/">
    <meta property="twitter:title" content="Bitcoin Dev Kit">
    <meta property="twitter:description" content="A secure and easy to use mobile cross platform (iOS/Android) Bitcoin wallet dev kit and example apps.">
    <meta property="twitter:image" content="https://bitcoindevkit.org/img/bdk-logo-meta.svg">

    <link rel="stylesheet" type="text/css" href="/css/docs.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/page-styles.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>

<body>
    
  <div id="p-nm-co-ho">
    <div class="pageContainerTopBackground __fal-left">
      <div>
        {% include "menu.html" %}
      </div>
    
      {% block content %}
      {% endblock content %}
    </div>
    
    <div>
      {% include "footer.html" %}
    </div>
  </div>
    
  <script>
    function burger() {
    var x = document.getElementById("bger");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
    }
  </script>
</body>

<script src="/js/scripts.js"></script>

</html>
