<div class="menuBar" id="topMarker" dir='ltr'>
    <a href="../">
        <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <rect id="path-1" x="0" y="0" width="100" height="100"></rect>
            </defs>
            <text id="Bitcoin-Dev-Kit" font-family="Futura-BtBold, Futura-Bold, Futura" font-size="24" font-weight="bold"
                  line-spacing="22" fill="#13161F">
                <tspan x="4" y="48">Bitcoin</tspan>
                <tspan x="4" y="70">Dev</tspan>
                <tspan x="4" y="92">Kit</tspan>
            </text>
        </svg>
    </a>
    <input type="checkbox" id="menuTrigger" name="menuTrigger" class="menuTrigger"/>
    <div class="mobileMenuShortcut">
        <i class="fas fa-bars"></i>
    </div>

    <div class="menuContents menuContentsMobile" id="menuContents">
        <div class="menuLinkParent">
            <a class="tomCL menuLink mobileOnly mobileCloseOpenNOJS nullTrans">
                <i class="fas fa-times nullTrans"></i>
            </a>
        </div>

        <div class="menuLinkParent">
            <a alt="Roadmap" class="menuLink" href="/roadmap">
                <span class="nullTrans">Roadmap</span></a>
        </div>

        <div class="menuLinkParent">
            <a alt="Blog" class="menuLink" href="/blog">
                <span>Blog</span></a>
        </div>

        <div class="menuLinkParent">
            <a target="_blank" rel="noopener noreferrer" alt="Github" class="menuLink nullTrans" href="https://github.com/bitcoindevkit">
                <span class="nullTrans">Github</span></a>
        </div>

        <div class="menuLinkParent mobileOnly"><br>
            <a class="menuLink go_dark" href="#" data-theme-switch="dark">
                <span>
                    <svg class="-ab-trig-spec" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                         viewBox="0 0 8 8">
                        <path fill="transparent"
                              d="M2.72 0c-1.58.53-2.72 2.02-2.72 3.78 0 2.21 1.79 4 4 4 1.76 0 3.25-1.14 3.78-2.72-.4.13-.83.22-1.28.22-2.21 0-4-1.79-4-4 0-.45.08-.88.22-1.28z">
                        </path>
                    </svg>
                </span>
            </a>
            <a class="menuLink go_light" href="#" data-theme-switch="light">
                <svg class="-ab-trig-spec" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                    <path fill="transparent"
                          d="M4 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-3.5 1.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm7 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-6 2.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5z">
                    </path>
                </svg>
            </a>
        </div>
    </div>

    <div class="desktop-only -inl-ti">

        <div class="menuLinkParent">
            <a class="menuLink go_dark" href="#" data-theme-switch="dark">
                <span>
                    <svg class="-ab-trig-spec" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                         viewBox="0 0 8 8">
                        <path fill="transparent"
                              d="M2.72 0c-1.58.53-2.72 2.02-2.72 3.78 0 2.21 1.79 4 4 4 1.76 0 3.25-1.14 3.78-2.72-.4.13-.83.22-1.28.22-2.21 0-4-1.79-4-4 0-.45.08-.88.22-1.28z">
                        </path>
                    </svg>
                </span>
            </a>
            <a class="menuLink go_light" href="#" data-theme-switch="light">
                <svg class="-ab-trig-spec" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                    <path fill="transparent"
                          d="M4 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-3.5 1.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm7 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-6 2.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5z">
                    </path>
                </svg>
            </a>
        </div>
    </div>
</div>
