{% extends "index.html" %}

{% block content %}
<div class="features-section-parent">
    <div class="pageItem">

        <h2>Roadmap</h2>
        {% set repos = ['bdk','bdk-android','bdk-android-app', 'bitcoindevkit.org'] %}
        {% for repo in repos %}
            <h3><span style="border:2px; border-style:solid; border-color:#000000;padding: 3px"><a target="_blank" rel="noopener noreferrer" href="https://github.com/bitcoindevkit/{{repo}}">{{ repo }}</a></span></h3>
                {% set issues = load_data(url="https://api.github.com/repos/bitcoindevkit/" ~ repo ~ "/issues?labels=enhancement&state=all&sort=updated&milestone=*", format="json") %}
                {% if issues %}
                    {% set milestones = issues | map(attribute="milestone") | unique(attribute="id") %}
                    {% for milestone in milestones  | sort(attribute="number") %}
                        {% set milestone_issues = issues | filter(attribute="milestone.id", value=milestone.id) %}
                        <h4><a target="_blank" rel="noopener noreferrer" href="{{ milestone.html_url }}">{{ milestone.title }}</a></h4>
                        {% for issue in milestone_issues %}
                        <div>
                            <span>
                                <a target="_blank" rel="noopener noreferrer" href="{{ issue.html_url }}">{{ issue.title }} #{{ issue.number }}</a> is {{ issue.state }}, was updated {{ issue.updated_at | date(format="%Y-%m-%d") }}
                            </span>
                        </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% set future_issues = load_data(url="https://api.github.com/repos/bitcoindevkit/" ~ repo ~ "/issues?labels=enhancement&state=all&sort=updated&milestone=none", format="json") %}
                {% if future_issues %}
                    <h4><a target="_blank" rel="noopener noreferrer" href="https://github.com/bitcoindevkit/{{ repo }}/issues?q=is%3Aissue+is%3Aopen+no%3Amilestone+label%3Aenhancement">Future</a></h4>
                    {% for issue in future_issues %}
                        <div>
                            <span>
                                <a target="_blank" rel="noopener noreferrer" href="{{ issue.html_url }}">{{ issue.title }} #{{ issue.number }}</a> is {{ issue.state }}, was updated {{ issue.updated_at | date(format="%Y-%m-%d") }}
                            </span>
                        </div>
                    {% endfor %}
                {% endif %}
            <div>
                <br>
                <a target="_blank" rel="noopener noreferrer" href=https://github.com/bitcoindevkit/{{repo}}/issues>New Issue</a>
                <br><br>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}